.controllers{
    display: flex;
    flex-direction: column;
    height: 100%;
    .material-icons{
        cursor: pointer;
        color: #ddd;
        margin: 5px auto;
        &:hover{
            color: #222;
        }
    }
    .blackBox{
        position: fixed;
        top: 5em;
        padding: 5em 1em 1em;
        width: auto;
        right: 50%;
        transform: translateX(50%);
        margin: auto;
        background-color: rgba(0, 0, 0, 0.8);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .material-icons{
            position: absolute;
            right: 1em;
            top: 1em;
            color: white;
            font-weight: bold;
        }
        img{
            width: 90vw;
            max-width: 360px;
        }
    }
}