ul,li{
    display: flex;
    align-items: center;
}
ul{
    flex-direction: column;
    list-style: none;
    li{
        background-color: #333;
        width: 90%;
        min-height: 100px;
        padding: 0 1em;
        justify-content: space-between;
        border-radius: 10px;    
        margin-bottom: 1em; 
        .delete{
            color: #ddd;
            &:hover{
                color:crimson;
                cursor: pointer;

            }
        }
    }
    
    
}