h4{
    margin: 0;
    color: white;
    width: 80%;
}   
div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50vw;
    input{
        background-color: transparent;
        border: none;
        font-size: 18pt;
        color: white;
        width: 80%;
        border-bottom: solid 1px #555;
    }
    .edit, .confirm{
        cursor: pointer;
        color: #ddd;
        margin: 0 5px;
    }
    .edit{
        &:hover{
            color:rgb(0, 89, 255);
        }
    }
    .confirm{
        &:hover{
            color:rgb(3, 155, 74);
        }
    }
}
