.search{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        margin: 1em auto;
        width: 100%;
    }
    .response{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: auto;
        margin: auto;
        height: auto;
        margin-top: 1em;
        border-radius: 5px;
        label{
            margin-right: 1em;
        }
        img{
            width: 80vw;
            margin: auto;
        }
        
    }
}