<section class="search">
  <input class="form-control form-control-lg" type="text" placeholder="Qual raça você procura?" name="breedName" id="breedName" [(ngModel)]="breedName">
  <div *ngIf="response" class="response">
    <label *ngFor="let subBreed of subBreeds" for={{subBreed}}>
      <input name="subBreedName" [(ngModel)]="subBreedName" type="radio" name={{subBreed}} id={{subBreed}} value={{subBreed}}>
      {{subBreed}}
    </label>
  </div>
  <button *ngIf="!response" type="button" (click)="seeSubBreeds()" class="btn btn-info">Ver sub-raças</button>
  <button *ngIf="response" type="button" (click)="search()" class="btn btn-info">Pesquisar</button>
  <div class="response" *ngIf="responseSubBreed">
    <img id="breedImage" src={{responseSubBreed.message}} alt="">
  </div>
</section>
<app-list></app-list>