.search{
    margin: 1em;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        margin: 1em auto;
        width: 100%;
    }
    .response{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80vw;
            margin: auto;
        }
    }
}